body {
  background-color: white;
  background-image: url(https://static.tumblr.com/glziqhp/07plo83j2/c34zt.jpg);
  text-shadow: rgba(131, 99, 58, 0.8) 0.1px 0.1px 3px;
}

.card {
  background-color: rgb(177, 182, 172);
  background-color: #c5c1d4;
  background-image: linear-gradient(19deg, #a9b7b3 0%, #b1b6ac 100%);
  background-image: linear-gradient(
    to top,
    rgb(144, 125, 121) 0%,
    rgb(176, 152, 134) 100%
  );
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

  border: 0px solid rgb(177, 182, 172);
  border-radius: 0.4rem;
  max-width: 400px;
  box-shadow: rgba(131, 99, 58, 0.6) 2px 2px 10px 1px;
}

/////box-shadow: right,bottom,blur,reach-all-around

.row {
  border: 1px solid rgb(177, 182, 172);
  background-color: rgb(177, 182, 172);
  gap: 1%;
  margin-top: 0px;
  padding: 0px;
}

.col {
  margin: 0px;
  padding: 0px;
}

#flag {
  margin-left: 5px;
  filter: drop-shadow(rgba(131, 99, 58, 0.4) 0.5px 0.5px 3px);
  float: inline-end;
  display: block;
  margin: 0 auto;
}

#flag:hover {
  cursor: help;
}

#city-name {
  display: block;
  font-size: 32px;
  padding-top: 20px;
  font: larger;
}

.c-date {
  color: rgb(91, 80, 69);
  font-size: 14px;
  display: block;
  margin: 0px auto;
  padding-top: 20px;
}

.icon-temp-unit-units {
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
}

#icon {
  margin-right: -20px;
  filter: drop-shadow(rgba(131, 99, 58, 0.4) 0.5px 0.5px 4px);
}

.c-temp {
  font-size: 48px;
  padding: 0px;
  padding-top: 18px;
  margin: 0px;
  margin-right: -15px;
  margin-left: -15px;
  text-align: right;
}

.c-unit {
  font-size: 22px;
  padding-top: 20px;
  width: fit-content;
}

.units:defined {
  color: rgba(63, 108, 108, 0.7);
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  padding-top: 60px;
  font-size: 14px;
  padding-top: 55px;
  width: fit-content;
}

#other-info {
  margin: 2px;
  padding: 2px;
  -ms-flex: 80%;
  flex: 0 1 auto;
}

.param {
  color: rgba(51, 34, 17, 0.7);
  display: block;
  margin: 0px;
  text-align: right;
}

.info {
  color: whitesmoke;
  display: block;
  margin: 0px;
  margin-right: 0px;
  padding-right: 0px;
  text-align: left;
}

ul {
  display: block;
  margin: 0px auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  table-layout: auto;
}

table {
  width: 400px;
  grid-area: solid teal;
  table-layout: auto;
}

.forecast {
  color: rgba(51, 34, 17, 0.7);
  text-align: center;
  size: 50px;
}

#icon01,
#icon02,
#icon03,
#icon04,
#icon05 {
  filter: drop-shadow(rgba(131, 99, 58, 0.4) 2px 2px 5px);
}

input {
  margin: 15px;
  border-color: rgb(222, 200, 200);
}

button {
  box-shadow: rgba(0, 0, 0, 0.271) 1px 1px 6px 0;
  border-color: rgba(177, 182, 172, 0.5);
  border-width: 0.5px;
  background-color: rgb(177, 182, 172, 0.5);
  color: white;
  display: inline;
  padding: 3px;
  margin: 15px 5px;
  border-radius: 6px;
}

.buttons {
  display: block;
  margin: 0px auto;
  width: 260px;
  display: inline;
}

.but1,
.but2 {
  background-color: rgb(177, 182, 172, 0.5);
  border-color: rgba(177, 182, 172, 0.5);
  border-radius: 6px;
  border-width: 0.5px;
  box-shadow: rgba(0, 0, 0, 0.271) 1px 1px 6px 0;
  color: white;
  display: inline;
  margin: 8px;
  padding: 4px;
  width: 130px;
}

form {
  margin: 5px 10px;
  padding: 5px 10px;
  padding-top: 15px;
}

.byLota {
  color: whitesmoke;
  padding: 10px;
  padding-left: 15px;
  margin: 5px;
}

.linkLotaOpeSource {
  color: rgba(63, 108, 108, 0.7);
}
